<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="/files/output.css" rel="stylesheet" />
    <!-- <link href="http://localhost:3333/files/output.css" rel="stylesheet"> -->
  </head>
  <body>
    <h1></h1>

    <div class="card m-4 w-80 shadow-xl">
      <figure>
        <img src="https://picsum.photos/id/1005/500/250" alt="An image" />
      </figure>
      <div class="card-body">
        <h2 class="card-title">{{.PageTitle}}</h2>
        <p>para</p>
        <ul>
          {{range .Items}} {{if .Done}}
          <li class="done">{{.Title}}</li>
          {{else}}
          <li>{{.Title}}</li>
          {{end}} {{end}}
        </ul>
      </div>
    </div>
  </body>
</html>
